body { 
    background-color: #d8d0c9; 
}
h1 {
    background: linear-gradient(135deg, #fb7e6e, #a777e3);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    animation: fadeInUp 1s ease-out;
}
.map {
    height: 300px;
    width: 300px;
     background-color: #f0f0f0; 
    border: 2px solid #ccc;   
}
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .partner-card, .add-card {
        width: 100%;
        max-width: 400px;
    }
}   


