<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorBook</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>TutorBook</h1>
    <p>Сайт для репетиторов и учеников</p>
    <p>С нами вы сдатите на отлично</p>
    <p><a href="/docs">Документация API</a></p>
   <div id="maps" class="map"></div> 
   <script src="https://api-maps.yandex.ru/2.1/?apikey=fc1f87bd-317b-4df8-9a57-2bf416b5d8a6&lang=ru_RU"></script>
   <script src="/static/js/map.js"></script>
</body>
</html>